/* You can add global styles to this file, and also import other style files */
//utilities
.df {display: flex;}
.db {display: block;}
.dn {display: none;}
.jc-sb {justify-content: space-between;}
.jc-sa {justify-content: space-around;}
.jc-center {justify-content: center;}
.jc-left {justify-content: flex-start;}
.jc-fe {justify-content: flex-end;}
.jc-fs {justify-content: flex-start;}
.ai-center {align-items: center;}
.ai-fe {align-items: flex-end;}
.ai-fs {align-items: flex-start;}
.ai-s {align-items: stretch;}
.width-100 {width: 100%;}
.height-100 {height: 100%;}
.jc-center {justify-content: center;}

.ta-center {text-align: center;}
.ta-right {text-align: right;}
.ta-left {text-align: left;}


.fw-100 {font-weight: 100;}
.fw-200 {font-weight: 200;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}


.p-0 {padding: 0;}
.p-1 {padding: 1rem;}
.p-2 {padding: 2rem;}



