

.full-container{
  height: 60vh;
    .title{
        text-align: center;
        font-size: 10rem;
        font-weight: 100;
        span{
            font-weight: 700;
            opacity: 0;
            transition: opacity 1s;
        }
        .fade-in{
            opacity: 1;
    
        }
    }
}

